<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
	<div>
		<h3 style="color:green" th:text="${session.pass}"></h3>
		<h3 style="color:red" th:text="${session.fail}"></h3>
		<span th:text="${@stockServiceImpl.removeMessage()}"></span>
	</div>
	
    <form action="/login" method="post">
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password">
        <button>Login</button>
    </form>
</body>
</html>