<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
      <a href="/register"><button>Register</button></a>
      <a href="/login"><button>Login</button></a>
    	<button>View Stocks</button>
      <button>Wallet</button>
      <button>Portfolio</button>
   
  
      <button>Add Stock</button>
      <button>Manage Stock</button>
      <button>View Overview</button>

  </body>
</html>